
<!-- Barra de navegación -->
<nav>
  <ul>
    <li><a href="Layout" aria-label="Ir a la página de inicio">Inicio</a></li>
    <li><a routerLink="/about" aria-label="Ir a la página de servicios">Servicios</a></li>
    <li><a routerLink="/contactos" aria-label="Ir a la página de contacto">Contacto</a></li>
  </ul>
</nav>

<!-- Contenido principal -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Pie de página -->
<footer>
  <p aria-label="Derechos de autor 2025 MANACO">Copyright 2025 MANACO.</p>
</footer>
